


body {
  text-align: left;
  font-size: 10px;
  max-width: 600px;
  height: 100vh;
  margin: 30px auto;
  background-color: #dddddd;
  /* font-family: "Corinthia"; */
}

/* -------------------header------------------ */
.message-area{
  height: 80vh;
  overflow: scroll;
}

#user{
  color: #80796c;
}

#message{
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background-color: #80a491;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;

}

.text-area{
  display: flex;
  background-color: #b3d0d7;
  justify-content: flex-end;
  align-items: center;
  margin: 20px auto;
  padding: 10px auto;
  width: auto;
}
#clear{
  display: flex;
}

#uname{
  max-width: 50%;
  /* align-items: flex-end; */
}
#text{
  margin-top: 5%;
}

.dl{
  color: #ffff;
}

/* -------------------main------------------ */
main {
  display: block;
  position: relative;
}


/* -------------------button------------------ */
#delete, #send, #k{
  outline: none;
  height: 100%;
  margin-bottom: 5%;
}

#delete:hover, #send:hover, #k:hover{
  background: #3aacad;
  border-bottom: none;
  color: #fff;
}

